// horizontal alignment
.u-txtC {
  text-align: center;
}

.u-txtL {
  text-align: left;
}

.u-txtR {
  text-align: right;
}

// vertical alignment
.u-txtT {
  vertical-align: top;
}

.u-txtB {
  vertical-align: bottom;
}

.u-txtM {
  vertical-align: middle;
}